
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{thumbnail}}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{title}}</h3>
                <p>{{date}}</p>
                <a href="{{link}}" target="_blank">En savoir plus !</a>
            </div>
        </div>
    </div>
